/* ============================
   RESET CSS – AVANTI PROJECT
   ============================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    background-color: #f8f8f8;
    color: #333;
}

img {
    max-width: 100%;
    display: block;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input,
select,
textarea {
    font-family: inherit;
    border: none;
    outline: none;
    background: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    line-height: 1.2;
}

p {
    line-height: 1.6;
}