/* ========================
   MENÚ HAMBURGUESA FIJO
   ======================== */
.hamburger-fixed {
    position: fixed;
    top: 3rem;
    left: 1rem;
    z-index: 30;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-size: 1.2rem;
    font-weight: bold;

    color: #0D4B4C;
    /* verde */
    background-color: #fff;
    border: 2px solid #0D4B4C;
    border-radius: 5px;
    padding: 0.5rem 1rem;

    cursor: pointer;
    transition: all 0.3s ease;
}

.hamburger-fixed:hover {
    background-color: rgba(13, 75, 76, 0.05);
    transform: scale(1.03);
}

.menu-label {
    font-weight: bold;
    font-size: 0.9rem;
    color: #0D4B4C;
}

/* ========================
     BARRA LATERAL (SIDEBAR)
     ======================== */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 220px;
    height: 100%;
    background-color: #0D4B4C;
    color: white;
    padding-top: 4rem;
    transition: left 0.3s ease;
    z-index: 1000;
}

.sidebar.active {
    left: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #1f5a5c;
}

.sidebar ul li a {
    color: white;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    display: block;
    transition: background 0.3s;
}

.sidebar ul li a:hover {
    background-color: #EA4B06;
    padding-left: 1.2rem;
}
