/* componentes/variables.css */
:root {
    /* Colores de marca */
    --color-primary-dark: #0D4B4C;
    --color-primary-darker: #062D30;
    --color-secondary-dark: #0A3A41;
    --color-topbar-bg: #0B292B;

    --color-accent-gold: #d4af37;
    /* Dorado elegante */
    --color-accent-orange: #ea4b06;
    /* Acento secundario */

    /* Tipografía */
    --font-sans: 'Montserrat', sans-serif;
    --font-light: 300;
    --font-regular: 400;
    --font-semi: 600;

    /* Espaciado */
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;
}