/* Variables personalizadas de color */
:root {
    --verde-avanti: #0D4B4C;
    --verde-suave: #98bfbf;
    --naranja-avanti: #EA4B06;
    --dorado-hover: #C89F65;
    --gris-fondo: #f7f7f7;
    --gris-borde: #eee;
    --blanco: #fff;
}